body {
    margin: 0;
    padding: 0;
    background: #000;
    color: #fff;
    font-family: Arial, sans-serif;
}

/* NAVBAR */
.navbar {
    width: 100%;
    padding: 15px 25px;
    background: #111;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
}

.logo {
    font-size: 22px;
    font-weight: bold;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    font-size: 15px;
}

/* HERO */
.hero {
    text-align: center;
    padding: 80px 20px;
}

.name {
    color: #4da6ff;
}

/* SECTIONS */
.section {
    padding: 40px 25px;
}

.section h2 {
    margin-bottom: 10px;
}

/* PROJECT CARD */
.project-card {
    background: #111;
    padding: 20px;
    margin-top: 20px;
    border-radius: 12px;
    border: 1px solid #222;
    text-align: center;
}

.project-img {
    width: 280px;
    border-radius: 10px;
    margin-top: 15px;
    }
